@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <h1>Register</h1>
        <form method="post" action="~/api/register" id="userForm">
            <!-- 姓名輸入欄位 -->
            <div class="mb-3">
                <label for="InputName" class="form-label">姓名</label>
                <input type="text" class="form-control" id="InputName" name="name">
            </div>
            <!-- 電子郵件輸入欄位 -->
            <div class="mb-3">
                <label for="InputEmail" class="form-label">電子郵件</label>
                <input type="email" class="form-control" id="InputEmail" name="email">
            </div>
            <!-- 年紀輸入欄位 -->
            <div class="mb-3">
                <label for="InputAge" class="form-label">年紀</label>
                <input type="number" class="form-control" id="InputAge" name="age">
            </div>
            <!-- 圖像上傳欄位 -->
            <div class="mb-3">
                <label for="formFile" class="form-label">圖像</label>
                <input class="form-control" type="file" id="formFile" name="avatar">
            </div>
            <!-- 送出按鈕 -->
            <button type="submit" class="btn btn-primary" id="buttonSubmit">送出</button>
        </form>
        <div id="div1" class="alert alert-info mt-3"></div>
    </div>
    <div class="col-3"></div>
</div>

@section Styles {
    <style>
        /* 此處可加入自訂樣式 */
    </style>
}

@section Scripts {
    <script>
        const divResult = document.querySelector('#div1'); // 顯示結果的區域
        const btnSubmit = document.querySelector('#buttonSubmit'); // 送出按鈕
        const inpName = document.querySelector('#InputName'); // 姓名輸入欄位
        const inpEmail = document.querySelector('#InputEmail'); // 電子郵件輸入欄位
        const inpAge = document.querySelector('#InputAge'); // 年紀輸入欄位

        // 監聽送出按鈕的點擊事件
        btnSubmit.addEventListener('click', async (evt) => {
            evt.preventDefault(); // 防止預設行為的發生

            // 將資料放進FormData
            const myForm = document.querySelector('#userForm');
            const formData = new FormData(myForm);

            // 將資料送到伺服器
            const url = '@Url.Content("~/api/register/")';
            const response = await fetch(url, {
                method: 'POST',
                body: formData
            });

            // 取得伺服器回應並顯示結果
            const data = await response.text();
            divResult.textContent = data;
        });
    </script>
}
